
	<div class="popup-wrapper">
		<div class="popup-global start">
			<a href="javascript:void(0);" onclick="closePopup(this);" class="btn popup-close"></a>
			<div class="popup-title"><h3></h3></div>
			<div class="popup-body">
				
				<div class="noted"><span></span></div>
				<div class="body-content">
				</div>

			</div>
		</div>
	</div>
	
	<div class="popup-wrapper">
		<div class="popup-re start">
			<a href="javascript:void(0);" onclick="closeRefugeMsg(this);" class="btn popup-close"></a>
			<div class="popup-title"><h3>REFUGEE AREA</h3></div>
			<div class="popup-body">
				
				<div class="noted"><span></span></div>
				<div class="body-content">
					<h5>You are entering refugee area</h5>
					<p class="black">
						This area is used as a temporary resting place.<br/>Whereby senior citizen, pregnant, impaired / handicapped persons can wait for floor warden assistance to be evacuated toward exit way from the building.
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="popup-wrapper">
		<div class="popup-intro">
			<div class="popup-body">
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							
							<!-- <div class="floor-info">32<sup>th</sup> Floor</div> -->

							<h3 class="red-title">DO YOU KNOW</h3><br />
							<h2 class="big-title">HOW TO ESCAPE</h2>

							<nav class="intro-link">
								<a href="javascript:void(0)" onclick="startGame()">YES</a>
								<span> | </span>
								<a href="javascript:void(0)" onclick="showHelp()">NO</a>
							</nav>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="popup-wrapper solid">
		<div class="popup-help start">
			<a href="javascript:void(0);" onclick="closePopup(this);" class="btn help-close">OK, GOT IT</a>
			<div class="popup-body">
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="red-title">ESCAPE GUIDE</h3>
							<br><br><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<img src="media/guide-move.png" alt="MOVE" />
						</div>
						<div class="col-sm-6">
							<img src="media/guide-navigation.png" alt="NAVIGATION" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js?v=1"></script>
    <script src="assets/js/Includes/gameengine.js?v=1"></script>
  </body>
</html>