

	<div class="popup-wrapper">
		<div class="popup-menu">
			<a href="javascript:void(0);" onclick="closeMenu();" class="btn popup-close"></a>
			<div class="popup-body">
				<div class="body-content">

					<nav>
						<a href="/" class="active">HOME</a>
						<a href="about.html">ABOUT</a>
						<a href="tour.html">EXPERIENCE NOW</a>
						<a href="javascript:void(0);"  onclick="showHelp()">ESCAPE GUIDE</a>
						<a href="leader-board.html">LEADER BOARD</a>
					</nav>

				</div>
			</div>
		</div>
	</div>

	<div class="popup-wrapper">
		<div class="popup-global">
			<a href="javascript:void(0);" onclick="closePopup(this);" class="btn popup-close"></a>
			<div class="popup-title"><h3></h3></div>
			<div class="popup-body">
				
				<div class="noted"><span></span></div>
				<div class="body-content">
				</div>

			</div>
		</div>
	</div>

	<div class="popup-wrapper solid">
		<div class="popup-help">
			<a href="javascript:void(0);" onclick="closeHelp();" class="btn help-close">OK, GOT IT</a>
			<div class="popup-body">
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="red-title">ESCAPE GUIDE</h3>
							<br><br><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<img src="media/guide-move.png" alt="MOVE" />
						</div>
						<div class="col-sm-6">
							<img src="media/guide-navigation.png" alt="NAVIGATION" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js?v=1"></script>
  </body>
</html>