
<!-- build:include ../Shared/header.html --><!-- /build -->
<link href="assets/css/Pages/homepage.css" rel="stylesheet">

<div class="db-header">
	<a href="/" class="dbs-logo"><img src="assets/images/dbs-logo.png" alt="DBS" /></a>
	<a href="javascript:void(0);" class="site-menu" onclick="showMenu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
</div>

<div class="homepage">
	<div class="content-wrapper">
		
		<h2>I KNOW</h2>
		<img src="assets/images/homepage-text.png" alt="I know how to escape" />
		<p>
			building emergency evacuation
			<span>with <strong>360°</strong> experience</span>
		</p>
		<a href="tour.html" class="animate-btn"><span>EXPERIENCE<br />NOW</span></a> 

	</div>
</div>

<a href="javascript:void(0);" class="footer-btn footer-sound"><i class="fa fa-volume-up" aria-hidden="true"></i></a>
<a href="javascript:void(0);" class="footer-btn footer-help" onclick="showHelp()"><i class="fa fa-question" aria-hidden="true"></i></a>

<div class="copyright">&copy;2016 Copyright PT Bank DBS Indonesia</div>

<!-- build:include ../Shared/footer.html --><!-- /build -->
